@font-face {
    font-family: 'mountains_of_christmasregular';
    src: url('/static/fonts/MountainsofChristmas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word; /* legacy */
  word-break: break-word; /* for WebKit/Chrome */
}

body {
  background-image:
    url('/static/images/snöflingor.png'),
    linear-gradient(180deg, rgba(82,5,6,1) 0%, rgba(134,18,18,1) 62%, rgba(192,31,32,1) 100%);
  font-family: 'mountains_of_christmasregular';
  color: #fff;
  min-height: 100vh;
  font-size: 1.3em;
}

.kalender {
  width: 1300px;
}

.calendar {
  position: relative;
  perspective: 5000px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
}

.calendar img {
  border-radius: 10px;
}

header {
  margin-top: 1rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

footer {
  display: flex;
  justify-content: center;
}


.window {
  position: absolute;
  background: white;
}
.link {
  height: 100%;
  display: block;
  background: center / contain no-repeat white;
  box-shadow: inset 0 0 20px rgb(0 0 0 / 50%);
}

.hatch {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-shadow: 0 0 1px black, 0 0 2px black;
  transition: all 0.8s ease-out;
}
.hatch.left {
  transform-origin: left;
}
.hatch.right {
  transform-origin: right;
}
.hatch.left.open {
  transform: rotateY(-120deg);
}
.hatch.right.open {
  transform: rotateY(120deg);
}

.lucka{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.lucka {
  text-align: center;
}

.youtube {
  max-width: 100%;
}

a:link {color: #30c1f0;}
a:visited {color: #30c1f0;}
a:hover {color: white;}
a:active {color: #30c1f0;}

