.kalender {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.lucka-door a {
  background-color: green;
  display: block;
  height: 100px;
}

.video-wrapper {
  display: flex;
  justify-content: center;
}
