<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Tenorkalendern 2020</title>

    {% block scripts %} {% endblock %}

    {% if debug %}
    <!-- Script for live reloading pages without needing to refresh -->
    <script type="text/javascript" src="/static/js/live.js"></script>
    {% endif %}

  </head>
  <body>
    <div id="header">
      header
    </div>
    <div id="main_container">
      {% block content %} {% endblock %}
    </div>

    <div id="footer">
      <p>&#169; 2020 - KTKodapor</p>
    </div>
  </body>
</html>
