{% extends "base.html" %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/adventcalendar.js"></script>
{% endblock %}

{% block content %}
  <header>
    <h1>Tenorkalendern 2020</h1>
  </header>
  <main class="kalender"></main>
  <script>
    const { backgroundImageUrl, windows } = {{ description|safe }};

    const calendar = new AdventCalendar(backgroundImageUrl, localStorage);

    Object.entries(windows).forEach(([key, description]) => {
      calendar.createWindow(key, description);
    });

    document.querySelector('main').appendChild(calendar.container);
  </script>
{% endblock %}
